body,
h5, p {
  font-family: "Aesop", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%; }

h1,
h2,
h3,
h4,
h6 {
  font-family: "Aesop", sans-serif; }

/*************************************************/
/*--Nav --*/
.iw-nav-logo {
  margin-top: 30px; }

.iw-float-right {
  float: right;
  margin-top: 30px; }

/*--Home --*/
.iw-home {
  margin-top: 50px; }

.iw-home-phone {
  margin-left: 7px;
  font-size: 18px;
  color: #143b6b;
  font-weight: bold; }

.iw-heading {
  color: #143b6b;
  font-size: 56px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 36px;
  margin-top: 50px; }

.iw-heading-body {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 50px; }

.iw-home-cta {
  background: #FB534A;
  box-shadow: 0px 15px 35px rgba(112, 112, 112, 0.45);
  border-radius: 8px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 30px; }

.iw-home-img {
  position: absolute;
  width: 522px;
  max-width: 100%;
  z-index: 1;
  left: 30px; }

.iw-home-bg {
  position: absolute;
  left: 77.22%;
  right: -6.39%;
  top: 35%;
  bottom: 83.27%; }

.iw-divider-left {
  position: relative;
  width: 100%;
  max-width: 46px;
  margin: 1rem auto;
  height: 4px;
  background: #E6E6E6;
  margin: 100px 0 40px 0; }

/*--Company --*/
.iw-mt-20 {
  margin-top: 20px; }

.iw-mt-45 {
  margin-top: 45px; }

/*--Steps --*/
.iw-works {
  margin-top: 80px;
  margin-bottom: -80px; }

.full-width {
  width: 100%; }

.iw-company-section {
  margin: 30px 0 400px 0; }

.iw-steps-container {
  margin-bottom: 40px; }

.iw-steps-container-2 {
  margin-top: 55px; }

.iw-steps-container-3 {
  margin-top: 55px; }

.iw-steps-main {
  margin-top: 20px; }

.iw-vertical-line {
  margin-right: 5px; }

.text-right, .iw-step-explain {
  margin-top: 150px; }

.iw-step-1 {
  font-size: 32px;
  color: #699FE3;
  font-weight: bold; }

.iw-step-2 {
  font-size: 32px;
  color: #4D809E;
  font-weight: bold; }

.iw-step-3 {
  font-size: 32px;
  color: #00B67A;
  font-weight: bold; }

.iw-steps-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000; }

.iw-steps-body {
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  padding-top: 20px; }

/*-- Testimonial --*/
.testimonial-sub {
  font-size: 24px;
  line-height: 120%;
  color: #699FE3;
  font-weight: bold;
  margin-top: 50px; }

.iw-title-testimonial {
  color: #102f56;
  font-size: 30px;
  line-height: 120%;
  padding: 0 0 1rem 0;
  font-weight: bold;
  margin-top: -2%; }

/*-- Instructions --*/
.iw-instructions {
  background: #eef3f7;
  border-radius: 24px;
  padding: 50px 60px;
  margin: 50px 0; }

.iw-title {
  color: #102f56;
  font-size: 30px;
  line-height: 120%;
  padding: 2rem 0 1rem 0;
  font-weight: bold; }

.iw-sub-title {
  color: #000000;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
  padding: 1rem; }

.iw-body-text {
  color: #000000;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  font-style: normal; }

.iw-divider {
  position: relative;
  width: 100%;
  max-width: 60px;
  margin: 1rem auto 1.5rem auto;
  height: 2px;
  background: #699fe3; }

.iw-icon {
  margin: 30px 0 20px 0; }

/*-- Question --*/
.iw-question {
  background: #EEF3F7;
  text-align: center;
  padding: 8rem 1rem 3rem; }

.iw-question h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
  margin-top: 20px; }

.iw-question p {
  padding: 1rem;
  font-size: 16px;
  line-height: 150%; }

.iw-customer-service {
  position: absolute;
  width: 100%;
  left: 50%;
  top: -440px; }

.iw-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #143b6b;
  font-size: 18px;
  line-height: 150%;
  width: 50%; }

.iw-contact-mail {
  float: right !important;
  margin-top: 30px; }

.iw-contact-phone {
  margin-top: 30px; }

.iw-phone {
  font-size: 18px;
  line-height: 150%;
  margin-left: 7px;
  font-weight: bold;
  color: #143B6B; }

.separator-iw {
  display: block;
  width: 2px;
  height: 100px;
  background-color: #81b4ea;
  align-self: center;
  margin-left: 40px; }

.iw-contact-cta-section {
  margin: 20px 10px; }

/*-- Footer --*/
.iw-footer {
  background: linear-gradient(180deg, #143B6B 0%, #0C2444 100%);
  text-align: center; }

.iw-address {
  font-size: 14px;
  color: #fff;
  line-height: 150%;
  padding: 1rem 1rem 2rem 1rem; }

.iw-copyright {
  font-size: 14px;
  color: #fff;
  line-height: 150%;
  font-weight: 300;
  padding: 6rem 1rem 8rem 1rem; }

.iw-footer-link {
  color: #adc8d7;
  line-height: 2.2;
  font-weight: 300;
  line-height: 150%;
  font-size: 16px; }

.iwoca-logo-footer {
  width: 100%;
  max-width: 180px; }

@media (min-width: 576px) {
  .iw-desktop-display {
    display: none; } }

/*-- Mobile (Iphone XS --*/
@media (max-width: 575px) {
  .iw-float-right, .iw-mobile-display {
    display: none; }
  .iw-customer-service {
    position: absolute;
    left: 0;
    width: 100%;
    top: -300px; }
  .iw-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 36px;
    text-align: center;
    margin-top: 0px; }
  .iw-heading-body {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center; }
  .iw-trustpilot {
    margin-top: 60px; }
  .text-center-mobile {
    text-align: center; }
  .iw-instructions {
    padding: 30px 30px;
    margin: 100px 0 50px 0; }
  .iw-step-explain {
    text-align: center;
    padding: 0 35px; }
  .iw-step-1, .iw-step-2, .iw-step-3 {
    font-size: 56px;
    margin-bottom: 20px; }
  .wired, .trustpilot, .times, .yahoo {
    margin-top: 50px; }
  .iw-company-section {
    margin: 30px 0 250px 0; }
  .iw-question p {
    padding: 1rem 0.1rem 0 0.1rem;
    line-height: 150%; }
  .iw-divider.iw-desktop-display {
    margin-top: 50px; }
  .iw-footer-link {
    margin: 20px 0; }
  .iw-copyright {
    padding: 4rem 0.5rem 6rem 0.5rem; }
  .iw-header {
    text-align: center; }
  .iw-nav-logo {
    width: 127px;
    margin-top: 40px; }
  .no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .col-pad {
    padding-left: 10px !important;
    padding-right: 10px !important; } }

/*-- Large Desktop fix --*/
@media (min-width: 1715px) {
  .iw-steps-container-2 {
    margin-top: 80px; }
  .iw-step-explain, .text-right {
    margin-top: 180px; } }

@media (max-width: 812px) {
  .iw-tablet-display {
    display: none; } }
